body { /*all my fonts in this font*/
    font-family: 'Oswald', sans-serif;

}

h1 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color:white;
}

.jumbotron {
    background-color: rgb(218, 163, 218);
}
div {
    background-color: rgb(243, 240, 234);
  
}
.btn-primary {
    background-color: rgb(139, 106, 139);
}

.btn-info {
    background-color: aquamarine;
    color:black;
}

.btn-infoss {
    background-color:gold;
    color:black;
}
.btn-infosss {
    background-color: greenyellow;
    color:black;
}